## Observations and Insights

In [44]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "Resources/Mouse_metadata.csv"
study_results_path = "Resources/Study_results.csv"
# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset

# Display the data table for preview

In [58]:
mouse_metadata.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [59]:
study_results.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [60]:
# Combine the data into a single dataset
complete_data = pd.merge(mouse_metadata, study_results, how="right", on="Mouse ID")
# Display the data table for preview
complete_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [61]:
# Checking the number of mice.
len(complete_data["Mouse ID"].unique())

249

In [62]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
complete_data[['Mouse ID', 'Timepoint']].values.ravel()

array(['k403', 0, 'k403', ..., 40, 'z969', 45], dtype=object)

In [63]:
# Optional: Get all the data for the duplicate mouse ID. 
dupers = complete_data['Mouse ID'].duplicated()
complete_data['Mouse ID'][dupes]
matches = complete_data['Timepoint'].isin(complete_data['Timepoint'])
complete_data['Mouse ID'][matches]

0       k403
1       k403
2       k403
3       k403
4       k403
        ...
1888    z969
1889    z969
1890    z969
1891    z969
1892    z969
Name: Mouse ID, Length: 1893, dtype: object

In [64]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
individual_data = complete_data.drop_duplicates(subset=['Mouse ID'], keep='last')
individual_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
9,k403,Ramicane,Male,21,16,45,22.050126,1
19,s185,Capomulin,Female,3,17,45,23.343598,1
29,x401,Capomulin,Female,16,15,45,28.484033,0
39,m601,Capomulin,Male,22,17,45,28.430964,1
49,g791,Ramicane,Male,11,16,45,29.128472,1

In [66]:
# Checking the number of mice in the clean DataFrame.
len(individual_data["Mouse ID"].unique())

249

## Summary Statistics

In [50]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method is the most straighforward, creating multiple series and putting them all together at the end.

In [51]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

## Bar and Pie Charts

In [52]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

In [53]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [54]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [55]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [56]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

In [57]:
# Put treatments into a list for for loop (and later for plot labels)




# Calculate the IQR and quantitatively determine if there are any potential outliers. 



    
    # Locate the rows which contain mice on each drug and get the tumor volumes

    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen