In [1]:
# Import all libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
mouse_data_df = pd.read_csv('Resources/Mouse_metadata.csv')
mouse_data_df = mouse_data_df.dropna()
mouse_data_df.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16